.nav {
  color: green;
  justify-content: space-around;
  display: flex;
  border: 2px solid black;

}

.logo>img{
    border: 2px solid rgb(185, 18, 18);
    height: 60px;
    box-sizing: border-box;

}

.search{
    border: 2px solid rgb(185, 18, 18);
}

.account{
    border: 2px solid rgb(185, 18, 18);
}

.cart{
    border: 2px solid rgb(185, 18, 18);
}