.main{
    display: grid;
    grid-template-columns: repeat(4 ,260px);
    grid-template-rows: repeat(5,400px);
    margin: auto;
    padding-left:80px ;
    gap: 40px;

}

.circle>img{
   height: 250px;
   border-radius: 450px;
   display: flex;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}

.circle>button{
    border: 1px solid black;
    padding: 10px;
}